{{ 'component-feature-collection.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% liquid  
    assign collection_selected = collections[section.settings.collection]
    assign show_title = section.settings.show_collection_title
%}

<div class="collection-products-section section-{{ section.id }}-padding">

    {% if show_title %}
        <h2 style="font-size: {{ section.settings.fontsize }}px;">{{ collection_selected.title }}</h2> 
    {% else %}      
        <h2 style="font-size: {{ section.settings.fontsize }}px;">{{ section.settings.title }}</h2>  
    {% endif %}

    <div class="product-swiper">
        <ul id="latest-products-list" class="swiper-wrapper">
            {% for product in collection_selected.products %}
                <li class="swiper-slide">
                    <a href="products/{{ product.handle }}">
                        {{ product.featured_image |
                            image_url: width: 500 |
                            image_tag:
                            widths: '200, 300, 500, 600, 800',
                            class:'swiper-image',
                            sizes: '100vw'
                        }}
                        <p class="product-title">{{ product.title }}</p>
                        <p class="product-price">{{ product.price | money }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="swiper-arrows">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>  
</div>


{% schema %}
{
  "name": "Image carousel",
  "class": "image-carousel-section",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "checkbox",
        "id": "show_collection_title",
        "label": "Show collection title",
        "default": true
    },
    {
        "type": "range",
        "id": "fontsize",
        "label": "Title font size",
        "unit": "px",
        "min": 15,
        "max": 60,
        "step": 5,
        "default": 40
    },
    {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
    },
    {
        "type": "header",
        "content": "Vertical padding"
    },
    {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 36
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "label": "Padding bottom",
        "unit": "px",
        "default": 36
    }
  ],
    "presets": [
        {
        "name": "Featured collection"
        }
    ]
}
{% endschema %}
